body {
    background-color: black;
    color: white;
}

a {
    color: whitesmoke;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}
a:hover {
    color: beige;
}

.navigation {
    border-bottom: groove goldenrod;
    border-width: 1px;
    padding: 10px;
    margin-bottom: 5px;
}

.flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.box {
    border: solid gold;
    padding: 0.8%;
    margin: 15px;
}

img {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 600px;
}

#linkToSource {
    text-decoration: underline;
}
#linkToSource:hover {
    color: blue;
}

.cite {
    font-size: 12px;
}

.algorithmExplanations {
}

.visualization {
}

.userInput {
}