.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#NavBar {
  width: 100vw;
  border-bottom: solid black;
  background-color: rgb(67, 116, 172);
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 30px;
}

#postButton {
  border-radius: 40%;
  color: white;
  outline: 0;
}
#logoName {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

.headerStuff {
  border: solid rgb(186, 198, 211);
  background-color: rgb(4, 30, 59);
  margin-top: 20px;
  margin-bottom: 20px;
  transition: transform .3s;
}
.headerStuff:hover {
  cursor: pointer;
  transform: scale( 1.2 );
}



/* .body {
  padding: 0px;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 0 0 0;
} */