.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  font-family: 'Work Sans', sans-serif;
}
.container{
  /* height: 300px; */
  margin:auto;
  padding: None;
}

.Posting-Button{
  justify-content: center;
  display: flex;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(78, 75, 75);
  align-items: center;
  margin:auto;
  padding: .2%;
  margin-top: 5px;
  margin-bottom: 5px;

}
.text-card{
  /* max-width: 70%; */
  word-break: break-all;
}
.card{
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin:auto;
  padding: 1%;
}
.postTitle {
  margin: 0px;
  padding: 0px;
  font-size: 25px;
  margin: fit-content;
  column-fill: inherit;
}
.timeStamp {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  margin-left: 85%;
}
.postContent {
  margin: 0px;
  padding: 0px;
  width: 100%;
  column-fill: inherit;
}
.removeBtn {
  background-color:rgba(230, 47, 47, 0.6);
}
.title{
  width: 20%;
  height: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.postBtn{
  float: bottom;
  background-color: green;
  color: white;
  margin: 0;
}

.description{
  width: 50%;
  height: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text], select {
  /* width: 50%;
  height: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  /* align-items: center; */
  /* display: inline-block; */
  /* border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;  */
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#NavBar {
  font-family: 'Courier New', Courier, monospace;
  background-image: url("images/RGB.png");
  width: 100vw;
  background-size: auto;
  background-size: 100vw;
  background-repeat: no-repeat;
  border-bottom: solid black;
  /* background-color: rgb(67, 116, 172); */
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 30px;
}

#postButton {   /* don't think this exists */
  border-radius: 40%;
  color: white;
  outline: 0;
}
#logoName {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

.headerStuff {
  border: solid rgb(186, 198, 211);
  background-color: rgb(4, 30, 59);
  margin-top: 20px;
  margin-bottom: 20px;
  transition: transform .3s;
}
.headerStuff:hover {
  cursor: pointer;
  transform: scale( 1.2 );
}




/* .body {
  padding: 0px;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 0 0 0;
} */